.form-dialog-category .MuiPaper-root {
  max-width: 570px !important;
  width: 100%;
  max-height: 450px !important;
  height: 100%;
  margin: auto;
  /* background-color: black; */
}

.form-dialog-category .ctn-inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.form-dialog-category .ctn-inputs .input {
  max-width: 250px;
  width: 100%;
}

.fc-input-t .box-state {
  display: inline;
  position: relative;
  /* background-color: #6d54dd; */
  max-height: 50px;
  margin-top: 15px;
  left: -125px;
}


/* The switch - the box around the slider */
.switch {
  font-size: 12px;
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
  margin-left: 20px;
  margin-top: 20px;
 }
 
 /* Hide default HTML checkbox */
 .switch input {
  opacity: 1;
  width: 0;
  height: 0;
 }
 
 /* The slider */
 .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0px;
  background: #fff;
  transition: .4s;
  border-radius: 30px;
  border: 1px solid #ccc;
 }
 
 .slider:before {
  position: absolute;
  content: "";
  height: 1.9em;
  width: 1.9em;
  border-radius: 16px;
  left: 1.2px;
  top: 0;
  bottom: 0;
  background-color: white;
  box-shadow: 0 2px 5px #999999;
  transition: .4s;
 }
 
 input:checked + .slider {
  background-color: #5fdd54;
  border: 1px solid transparent;
 }
 
 input:checked + .slider:before {
  transform: translateX(1.9em);
 }